<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678165976907-6p27eio0qmugntv1qhv9gikref4kn03j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678165976907-6p27eio0qmugntv1qhv9gikref4kn03j</string>
	<key>API_KEY</key>
	<string>AIzaSyDq9nMhOXVpciBCw4duh8ogCYUBbpKvpd4</string>
	<key>GCM_SENDER_ID</key>
	<string>678165976907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lukasz.Crypto</string>
	<key>PROJECT_ID</key>
	<string>crypto-9acd1</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-9acd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678165976907:ios:33d640b4bc092b8f863ace</string>
</dict>
</plist>